<div class="row"
     *ngFor="let publication of publications">
    <div class="col d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <p class="card-text"><strong>{{ publication.user.userName }}</strong></p>
        </div>
  
        <img class="card-img" [src]="publication.imgUrl" />
        
        <div class="card-body">
          <p class="card-text">
            <strong>{{ publication.user.userName }}</strong>
              <span>{{ publication.description }}</span>
          </p>
  
          <hr />
          <input 
            type="text" 
            class="form-control commentary"
            placeholder="Add a commentary..." 
          />
        </div>
      </div>
    </div>
</div>