<nav class="navbar fixed-top navbar-light bg-white">
    <div class="container">
      <div class="logo"></div>
      <div>
        <div class="add-post"
             data-toggle="modal" 
             data-target="#exampleModal"
             style="cursor: pointer"></div>
        <a href="#"
           (click)="signOut()"
           style="margin-left: 25px; cursor: pointer">Sign-Out</a>
      </div>
    </div>  
  </nav>
  
  <br /><br /><br />
  <div class="container">
    <insta-timeline #timeline></insta-timeline>
    <insta-new-publication (updateTimeline)="updateTimeline()"></insta-new-publication>
  </div>