<div class="container">
    <div class="row">
      <div class="col-sm-6 d-flex justify-content-end"
           [@banner-animation]="bannerState">
        <insta-banner></insta-banner>
      </div>
  
      <div class="col-sm-6 d-flex justify-content-start">
        <div *ngIf="registry; else login"
             [@panel-animation]="panelState"
             (@panel-animation.start)="startAnimation()"
             (@panel-animation.done)="endAnimation()">
          <insta-register (showPanel)="showPanel($event)"></insta-register>
        </div>
        <ng-template #login>
          <div [@panel-animation]="panelState"
               (@panel-animation.start)="startAnimation()"
               (@panel-animation.done)="endAnimation()">
            <insta-login (showPanel)="showPanel($event)"></insta-login>
          </div>
        </ng-template>
      </div>  
    </div>
</div>