<div class="container">
    <div class="row">
      <div class="col-sm-6 d-flex justify-content-end"
           [@banner-animation]="bannerState">
        <insta-banner></insta-banner>
      </div>
  
      <div class="col-sm-6 d-flex justify-content-start"
           [@panel-animation]="panelState">
        <div *ngIf="registry; else login">
          <insta-register (showPanel)="showPanel($event)"></insta-register>
        </div>
        <ng-template #login>
          <insta-login (showPanel)="showPanel($event)"></insta-login>
        </ng-template>
      </div>  
    </div>
</div>